.main {
 color: #FCFCF4;
}

.form, .results {
  /* width 100% of inner content */
  width: 20rem;
  background-color: #18181B;
  border-radius: 0.5em;
  border: 5px solid #451093;
  padding: 2em;
  margin: 2em;
}

.form h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 1em 0;
  color: #A970FF;
}
.form label {
  margin-right: 1em;
}

.form input {
  width: 8em;
}

.form button {
  background-color:#9030FF;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5em;
  color: #FCFCF4;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5rem auto;
}

.form button:hover {
  background-color: #A970FF;
  color: #FCFCF4;
  cursor: pointer;
}

.form button:active {
  background-color: #9030FF;
  color: #FCFCF4;
  cursor: pointer;
}


.error {
  /* center in screen and large font */
  text-align: center;
  font-size: 4.5em;
  color: #9030FF;
  font-weight: bold;

}

.results pre {
  font-size: 1.2em;
  text-align: left;
  margin: 0 0 1em 0;
  color: #A970FF;
  padding: 1em;
}

.results pre:hover {
  background-color: #A970FF;
  color: #FCFCF4;
  cursor: pointer;
}

.results pre:active {
  background-color: #451093;
  color: #FCFCF4;
  cursor: pointer;
}


.stream {
  /* Iframe that sites in the background full width and height of the view port */
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}
